body{
  overflow: hidden;
}

h1{
  font-size: larger;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
 }

.modal-header{
  color: white;
}

.modal-dialog{
  margin: 0;
}

.navbar{
  background-color:#002957;
  color: #f1563f;

  a {
    color:#fff;
  }
}

.btn.btn-custom{
  background-color: #f1563f;
  color: white;
  border-radius: 5;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
}

.modal-header{
  cursor: move;
}

.footer-copyright a {
  float:right;
  color: rgba(0,0,0,.7);
  text-shadow: 0 0 1px rgba(255,255,255,.85);
  margin-right: 1rem;
  margin-bottom: 0.3rem;
}

#candidateInformationModal {
  #candidateTalkinpoint {
    font-style: italic;
    padding-left: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;

    &::before, &::after {
      position: absolute;
      display: inline-block;
      vertical-align: top;
      line-height: 1.5rem;
      font-size: 1.5rem;
      opacity: .2;
      margin-left: -1.5rem;
    }

    &::before {
      content: '\201C';
      margin-right: 4px;
      margin-left: -8px;
    }
    &::after{
      content: '\201D';
      margin-left: 4px;
      margin-right: -8px;
    }


  }
  #candidateRelated {
    .candidate {

      $bubble-color: #fff;
      // Sininen on yliopiston väri.
      $bubble-border-color: #002957;

      cursor: pointer;
      display: inline-block;
      margin: 0rem 1rem 0rem 1rem;
      .name {
        display: none;
      }
      .topic-bubble {
        margin-left: 1rem;
        margin-bottom: 0.3rem;
        border-radius: 3px;
        background: $bubble-color;
        border: 4px solid $bubble-border-color;
        padding: 0 0.3rem;
        text-align: center;
        color: #000;
        position: relative;
        z-index: 1;
        &::before {
          // Alanuoli. Tämä toimii reunuksena
          content: "";
          width: 0px;
          height: 0px;
          position: absolute;
          border-left: 10px solid $bubble-border-color;
          border-right: 10px solid transparent;
          border-top: 10px solid $bubble-border-color;
          border-bottom: 10px solid transparent;
          left: 20px;
          bottom: -23px;
        }
        &::after {
          // Toinen alanuoli, joka menee edellä olevan päälle.
          content: "";
          width: 0px;
          height: 0px;
          position: absolute;
          border-left: 8px solid $bubble-color;
          border-right: 8px solid transparent;
          border-top: 8px solid $bubble-color;
          border-bottom: 8px solid transparent;
          left: 24px;
          bottom: -13px;
        }
      }
      img.node {
        transition: all 0.3s;
        border-radius: 50%;
        border-style: solid;
        border-width: 5px;
        border-color: #ccc;
        width: 64px;
        max-height: 64px;
        filter:grayscale(50%);
        &:hover {
          filter:grayscale(0%);
        }
      }
    }
  }
}