{# Most of thease are copied from: https://bl.ocks.org/steveharoz/8c3e2524079a8c440df60c1ab72b5d03 #}
<style>
.controls {
    position: absolute;
    font-family: sans-serif; font-size: 75%;
    flex-basis: 200px;
}
.controls fieldset {
    transition: opacity 0.7s;
    border-radius: 3px;
    padding: 5px;
    margin: 5px 0;
    opacity: 0.6;
    background-color:#eee;
}
.controls:hover fieldset {
    opacity: 1;
}
.controls p label { margin-right: .5em; font-size: 120%; font-weight: bold;}
.controls label { display: inline-block; margin: 0; }
.controls input[type="checkbox"] { transform: scale(1.2, 1.2); }
.controls input[type="range"] { margin: 0 5% 0.5em 5%; width: 100%; }
.controls .alpha p { margin-bottom: .25em; }
.controls .alpha .alpha_bar { height: .5em; border: 1px #777 solid; border-radius: 2px; padding: 1px; display: flex; }
.controls .alpha .alpha_bar #alpha_value { background-color: #555; border-radius: 1px; flex-basis: 100% }
.controls .alpha .alpha_bar:active #alpha_value { background-color: #222 }

.show-topics .nodes .node .topic {
    display: inline !important;
    opacity: 1 !important;
}
</style>

<div class="controls">
    <h3>Debug</h3>
    <fieldset>
        <legend>Simulation</legend>
        <form class="alpha">
            <p><label>alpha</label>{{_("Simulation activity")}}</p>
            <div class="alpha_bar" onclick="graph.reset();"><div id="alpha_value"></div></div>
            <p><label><input type="checkbox" checked onchange="graph.decay = this.checked; graph.reset()">{{_("Decay")}}</label>Stabilitze simulation</p>
        </form>
    </fieldset>
    <fieldset>
        <legend>Forces</legend>
        <form onchange="output.value=parseInt(graph.strength)">
            <label title="Node attraction force">{{_("Gravity")}}: <output name="output">-30</output>
            <input type="range" name="input" min="-200" max="-1" onchange="graph.strength=this.value;graph.reset();">
            </label>
            <p><label><input type="checkbox" onchange="graph.collide = this.checked; graph.reset()">{{_("Collide")}}</label>Prevent nodes from overlapping.</p>
        </form>
        <form onchange="output.value=parseInt(graph.distance)">
            <label title="Link distance multiplier">{{_("Distance")}}: <output name="output">30</output></label>
            <input type="range" name="input" min="1" max="400" onchange="graph.distance=this.value;graph.reset();">
            <p><label><input type="checkbox" checked onchange="graph.distance_adaptive = this.checked; graph.reset()">{{_("Adaptive")}}</label>Scale distances relative to node count</p>
        </form>
    </fieldset>
    <fieldset>
        <legend>Visual</legend>
        <form onchange="output.value=parseInt(graph.node_radius)">
            <label>{{_("Node size")}}:
            <output name="output"></output>
            <input type="range" name="input" min="1" max="100" onchange="graph.node_radius=this.value;graph.reset();">
            </label>
        </form>
        <form>
            <p><label><input type="checkbox" onchange="d3.select('#graph').classed('show-topics',  this.checked);">{{_("Topics")}}</label>Show link topics</p>
        </form>
    </fieldset>
    <fieldset>
        <legend>Extra</legend>
        <a href="{{url_for('.show_lda')}}">LDA</a>
    </fieldset>
</div>
<script>
    window.addEventListener("load", function() {
        graph.simulation.on("tick.control", function(e) {
            d3.select('#alpha_value').style('flex-basis', (graph.simulation.alpha()*100) + '%');
        });

    });
</script>