<!doctype html>
<html lang="{{get_locale()}}">
<head>
    <meta charset="utf-8">

    <title>{{branding['subtitle']|striptags}} - {{branding['name']|striptags}}</title>
    <meta name="description" content="">
    <meta name="author" content="">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.scss.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/graph.scss.css') }}">

</head>

<body>
    <nav class="navbar navbar-expand-sm">
        <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="logo" style="width:100px;">
        </a>

        <div class="navbar-collapse" id="main-navigation">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a href="#" select id = "dropdownVaalip" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ _("Constituency") }}</a>
                    <ul class="dropdown-menu" id="filter-constituency"></ul>

                <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{_("Party")}}</a>
                        <ul class="dropdown-menu" id="filter-party">
                </li>

        </div>
    </nav>

    <div class="modal" id=candidateInformationModal>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" id="modalheader">
                    <h1>{{_("Candidate Information")}}</h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-4">
                            <img id = "candidateImage" src="" height="100%" width="100%">
                        </div>
                        <div class="col-sm-8">
                            <p id="candidateName"></p>
                            <p id="candidateNumber"></p>
                            <p id="candidateParty"></p>
                            <p id="candidateConstituency"></p>
                        </div>

                        <blockquote class="col" id="candidateTalkinpoint"></blockquote>
                    </div>
                    <h3>{{_("Similar candidates")}}</h3>
                    <div class="container" id="candidateRelated">
                        <template id="candidateRelatedTemplate">
                            <div class="candidate">
                                <div class="topic-bubble topic"></div>
                                <img class="node" />
                                <h4 class="name"></h4>
                            </div>
                        </template>
                    </div>

                    <!--<p id="candidateName"></p>
                    <p id="candidateNumber"></p>
                    <p id="candidateParty"></p>
                    <p id="candidateConstituency"></p>-->
                </div>
            </div>
        </div>
    </div>

    {% if dev %}
        {% include 'force-control.html' %}
    {% endif %}
    <div id="graph">
        <svg class="graph">
            <g class="tree"></g>
            <g class="bg">
                <text>{{branding['name']|upper}}</text>
                <line x1="-6em" y1="0" x2="6em" y2="0" />
                <line x1="-6em" y1="0" x2="6em" y2="0" />
            </g>
        </svg>
    </div>
<script>
(function() {
    {# Set graph size early #}
    const width = parseInt(window.innerWidth),
          height = parseInt(window.innerHeight);
    let svg = document.querySelector("svg.graph");
    svg.setAttribute('width', width);
    svg.setAttribute('height', height);

    let g = svg.querySelector(".bg");
    let t = g.querySelector("text");
    const w = t.getBBox();

    const _w = w.width/2;
    const _h = w.height/2;

    t.setAttribute("x", -_w);
    t.setAttribute("y", _h);

    let ls = g.getElementsByTagName("line");
    for(e of ls) {
        e.setAttribute("x1", -_w - _w/20);
        e.setAttribute("x2", _w + _w/20);
    }
    ls[0].setAttribute("y1", _h + _h/4);
    ls[0].setAttribute("y2", _h + _h/4);

    ls[1].setAttribute("y1", - _h /3);
    ls[1].setAttribute("y2", - _h /3);

    const d = Math.min(width/w.width, height/w.height);

    g.setAttribute("transform", "translate("+width/2+","+height/2+") scale("+d/3+")");
})();

(function() {
    let svg = document.querySelector("svg.graph");

    function createElement(tag) {
        let e = document.createElementNS(svg.namespaceURI, tag)
        return e
    }

    function render() {
        let layer = svg.querySelector(".tree")
        if(!layer) return

        let nodes = createElement("g");
        let links = createElement("g");
        {# nodes.setAttribute("class", "nodes");
        links.setAttribute("class", "links"); #}

        layer.appendChild(links);
        layer.appendChild(nodes);

        const width = svg.getAttribute("width"),
              height = svg.getAttribute("height");

        const x = width / 2;
        const y = height;

        let run = true;
        let s = 20;

        grow(x, y, Math.PI/2, y / 5, 0)
        window.setTimeout(() => run = false, 6000)

        function grow(x1, y1, d, s, b) {
            if(! run) return;

            if(!svg.querySelector(".tree")) return;

            if(s < 30) return;
            const x2 = x1 + (Math.cos(d) * s)
            const y2 = y1 - (Math.sin(d) * s)

            let link = createElement("line");
            let node = createElement("g");
            let circ = createElement("circle");

            node.setAttribute("class", "node");
            circ.setAttribute("r", 10*Math.random()+5);
            circ.setAttribute("cx", x2)
            circ.setAttribute("cy", y2)

            const hue = 360 * x1 / width;
            const lig = 100 - (y1 / height * 60);
            circ.setAttribute("fill", "hsl("+hue+", 50% ,"+lig+"%)")

            link.setAttribute("x1", x1)
            link.setAttribute("y1", y1)
            link.setAttribute("x2", x2)
            link.setAttribute("y2", y2)
            link.setAttribute("stroke", "hsl("+hue+", 30%, 40%)")

            node.appendChild(circ);
            links.appendChild(link);
            nodes.appendChild(node);

            let _s = s;
            let _d = d;
            for(let i = 0; i < Math.floor(Math.random() * 5 + Math.max(2-b, 0) ); i++) {
                _d = d - (Math.random() - 0.5) % Math.PI * 2
                _s = s * 0.8 + (Math.random() / 4 * s)
                window.setTimeout(grow, 200 + 800 * Math.random(), x2, y2, _d, _s, b+1)
            }
        }

    }

    svg.addEventListener("click", function() {
        render();
    });
    render();
})()
</script>

<script src="https://d3js.org/d3.v4.js"></script>
<script src="{{url_for('static', filename='graph.js')}}"></script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" type="text/javascript"
integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"></script>
<script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>

<script>
var parties = [];

var default_image = {{url_for("static", filename="default-person.png")|tojson|safe}}

try {
    d3.json('{{url_for(".data_parties")}}', function(err, data) {
        if (err) throw err;
        parties = data;
        graph_run();
    });
    d3.json('{{url_for(".data_nodes")}}', function(err, data) {
        if (err) throw err;
        process_nodes(data)
        graph_run();
    });
    d3.json('{{url_for(".data_links")}}', function(err, data) {
        if (err) throw err;
        process_links(data);
        graph_run();
    });
} catch(e) {
    alert({{_("Failed to load datasets.")|tojson}});
    console.log(e);
}
    </script>

<footer class="page-footer">
    <div class="footer-copyright text-center color"><a href="https://github.com/Agora-Analytica/prototyyppi/blob/master/README.md" data-toggle="modal" data-target="#about">{{_("About")}}</a></div>
</footer>

{%block about %}
<article class="modal" id="about">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                {%include 'about.html' %}
            </div>
        </div>


    </div>
</article>
{%endblock%}
</body>

</html>
