<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Ham by Spam</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="">

  {#
    Reset CSS on vain poistamassa padding, margin, ja muut legacy asiat.
    Jos käytetään jotain websivun frameworkkia, voidaan se poistaa ongelmitta.
  #}
  <link rel="stylesheet" href="{{url_for('static', filename='reset.css')}}">

    <style>
    #graph svg {
        display: block;
    }

    .links line {
        stroke: rgba(0, 0, 0, 0.692);
        stroke-opacity: 0.6;
    }

    .nodes circle {
        stroke-width: 1.5px;
    }

    .node .topic {
      font-size:0.3em;
    }

    .nodes .node-info {
        display: none;
        z-index: 1000;
    }
    .nodes .active .node-info {
       display: block;
    }

    </style>

</head>

<body>

  <div id="graph">
    <svg></svg>

  </div>


<script src="https://d3js.org/d3.v4.js"></script>
<script src="{{url_for('static', filename='graph.js')}}"></script>
<script>
var nodes = [],
    links = [],
    topics = [],
    parties = [];


d3.json('{{url_for(".data_parties")}}', function(data) {
    parties = data;
    run();
});
d3.json('{{url_for(".data_nodes")}}', function(data) {
    nodes = data;
    run();
});
d3.json('{{url_for(".data_links")}}', function(data) { process_links(data); run(); });

</script>

</body>
</html>
